* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    color: #f8fafc;
    font-family: system-ui, sans-serif;
}

html, body {
    height: 100%;
    background: #18181b;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 8rem 0;
    display: flex;
    justify-content: center;
}

.header-title {
    font-size: 4.25rem;
}

.text-gradient {
    color: #3b82f6;
    background-image: linear-gradient(45deg, #3b82f6 30%, #7dd3fc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.calc-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 64px;
    width: 600px;
    max-width: 100%;
}

.calc-args {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.calc-arg {
    display: flex;
    align-items: stretch;
    gap: 4px;
}

.calc-arg-input {
    background: none;
    border: 1px solid #334155;
    padding: 8px;
    border-radius: 8px;
    transition: .2s border-color ease;
    flex-grow: 1;
}

.calc-arg-input:focus {
    border-color: #3b82f6;
}

.button-primary {
    background: #3b82f6;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
}

.button-secondary {
    background: #334155;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
}

.remove-arg {
    aspect-ratio: 1 / 1;
}

main {
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

footer {
    padding: 1rem;
    text-align: center;
}
