* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

main {
    flex: 1;
    padding: 2rem;
    background-color: #f5f5f5;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}
